.swiper-button-prev {
  left: -2px !important;
  color: #3C3F5F !important;
}

.swiper-button-next {
  right: -2px !important;
  color: #3C3F5F !important;
}

.swiper {
  padding: 25px !important;
}

.swiper-pagination-horizontal {
  bottom: -4px !important;
}